.add-option-error {
  font-style: italic;
  color: $off-white;
  padding: 0 $m-size;
  margin: $m-size 0 0 0;
}
.add-option {
  display: flex;
  padding: $m-size;
  flex-direction: column;
}
.add-option-input {
  flex-grow: 1;
  background: $dark-blue;
  border: none;
  border-bottom: 1px solid darken($color: $dark-blue, $amount: 10%);

  margin: 0 0 $s-size 0;
  color: $off-white;
  padding: $s-size;
}

@media (min-width: $desktop-breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option-input {
    margin-right: $s-size;
  }
}
